@charset "utf-8";
body {
    color: #595959;
    cursor: default;
    overflow: hidden;
    overflow-y: auto;
    line-height: 1.1rem;
    font-family: Raleway,Arial,"Microsoft YaHei",sans-serif,"Inconsolata","Monaco","Consolas","Courier New",Courier,monospace;
    font-weight: normal;
    min-height: 100%;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    word-wrap: break-word;
    word-break: break-all;
}
#article p {
    margin-bottom: .4rem;
    text-indent: 2rem;
}

body {
    padding-bottom: 80px;
}
header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
header hgroup {
    font-size: 24px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
}
header.layui-bg-white,
.layui-nav.layui-bg-white {
    background-color: #f8f9fa!important;
    color: #ccc;
}
.layui-nav.layui-bg-white .layui-nav-item a:hover,
.layui-nav.layui-bg-white .layui-this a, {
    color: #333;
}
.layui-nav.layui-bg-white .layui-nav-item a {
    color: #333;
}
.layui-nav.layui-bg-white .layui-nav-more {
    border-color: #333 transparent transparent;
}
.layui-nav.layui-bg-white .layui-nav-mored {
    border-color: transparent transparent #333 ;
}

#sidebar,
#lists,
#article {
    padding-right: 25px;
}
#sidebar .layui-card {
    border: 1px solid #ccc;
}
#sidebar .layui-card .layui-card-header {
    background-color: #f8f9fa!important;
    border-bottom: 1px solid #ccc;
}

#lists table {
    margin: 0;
}
#lists td>span {
    margin-right: 15px;
}

footer.layui-bg-black a:hover,
footer.layui-bg-black a {
    color: #fff;
}
footer {
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidebar .layui-nav-tree {
    width: 100%;
}



