.paging {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    _width: 100%;
}
.paging a, .paging span, .paging input {
    margin: 0 3px;
}
.paging a, .paging span {
    padding: 6px 12px;
    border: #CCC 1px solid;
    border-radius: 3px;
    background-color: #F2F2F2;
    background-image: -webkit-linear-gradient(#F8F8F8, #ECECEC);
    background-image:    -moz-linear-gradient(#F8F8F8, #ECECEC);
    background-image:         linear-gradient(#F8F8F8, #ECECEC);
}
.paging a:hover {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(#ffffff, #ECECEC);
    background-image:    -moz-linear-gradient(#ffffff, #ECECEC);
    background-image:         linear-gradient(#ffffff, #ECECEC);
    box-shadow: 0 0 4px #DDD;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .125);
       -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .125);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .125);
}
.paging a:active, .paging span {
    background-color: #F8F8F8;
    background-image: none;
    -webkit-box-shadow: inset 0 5px 1px #bbb;
       -moz-box-shadow: inset 0 5px 1px #bbb;
            box-shadow: inset 0 1px 2px #bbb;
}
