<div class="layui-row">
    {:include file="sideber"}
    <div class="layui-col-md8">
        <ul id="lists" class="layui-table">
            <template v-for="vo in lists">
            <li>
                <span class="layui-badge layui-bg-blue" v-text="vo.cat_name"></span>
                <a v-bind:href="vo.url" v-text="vo.title"></a>
                <time v-text="vo.update_time"></time>
            </li>
            </template>
        </ul>
    </div>
    <div class="layui-col-md2">
        123
    </div>
</div>

<script>
window.onload=function(){
    layui.use(['jquery', 'np', 'table'], function(){
        var np = layui.np;
        var table = layui.table;
        np.pjax({
            url: NIPHP.api.url + '/cms.do',
            method: 'get',
            data: {
                method: 'article.lists.query',
                cid: NIPHP.param.cid
            },
            success: function(result) {
                if (result.code == 'SUCCESS') {
                    new Vue({
                        el: "#lists",
                        data: {
                            lists: result.data.list
                        }
                    });
                }
            }
        });
    });
}
</script>
