body {
    padding-bottom: 136px;
    background-color: #f8f8f8;
    /*background: url(//img.tp5.com/static/nipui/img/body.gif);*/
}
a {
    font-weight: 500;
    color: #495057;
}
header {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    z-index: 999;
}
footer {
    position: fixed;
    bottom: 0;
    font-size: 85%;
    background: #f1f1f1;
}
/*#sidebar {
    background-color: #fff;
}*/
#sidebar a {
    font-size: 85%;
    text-align: right;
}
#sidebar .side-title {
    padding: .86rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
    font-size: 85%;
    text-align: right;
}
.breadcrumb {
    background-color: #fff;
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
    font-size: 85%;
    margin-bottom: 0;
}
.main {
    border-left: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-data li {
    padding: 1.7rem;
    background-color: #fff;
    border-radius: 5px;
}
.content-wrap {
    padding: 1.7rem;
    background-color: #fff;
    border-radius: 5px;
}
.content-wrap .article-title {
    text-align: center;
}
.content-wrap .article-title a {
    text-decoration: none;
}
.content-wrap .article-meta {
    font-size: 75%;
    text-align: center;
}
.content-wrap .article-meta span {
    padding-left: 15px;
}
#article-next {
    text-align: right;
}

/*友情链接*/
dl.list-unstyled dt {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
